@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import '_media.scss';

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif; // - Weights: 400, 700
  min-height: 100vh;
  background-color: $color-neutral-light-gray; 
  @extend %display-flex;
  @extend %align-items-center;
  @extend %justify-center;
  @extend %col;
  overflow-x: hidden;
}



li{
  list-style-type: none;
}